@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  }
  
  .datetime{
    height: 180px;
    position: absolute;
    top: 80px;
    left: 7px;
    color: black;
    background: transparent;
    width: 360px;
    padding: 15px 10px;
    border: 3px solid #54a1e9;
    border-radius: 5px;
    transition: all 0.5s ease;
    z-index: 10;
  }
  
  .datetime:hover{
    background: linear-gradient(-135deg, #54a1e9, rgb(197, 110, 255));;
    border: none;
  }
  
  .date{
    cursor: default;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
  }
  
  .time{
    cursor: default;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .time span:not(:last-child){
    position: relative;
    margin: 0 6px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
  }
  
  .time span:last-child{
    cursor: default;
    position: absolute;
    text-align: center;
    color: white;
    background: #54a1e9;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 110px;
    padding: 0 5px;
    border-radius: 5px;
  }
